source https://nuget.org/api/v2

nuget FAKE
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget Unquote
nuget FsCheck
nuget Octokit
nuget SourceLink.Fake
nuget NuGet.CommandLine
nuget Hopac
nuget FSharp.Core prerelease

github fsharp/FAKE modules/Octokit/Octokit.fsx