source https://nuget.org/api/v2

nuget FAKE 3.14.0
nuget NUnit
nuget NUnit.Runners
nuget Unquote
nuget FsCheck
nuget Octokit
nuget SourceLink.Fake
nuget NuGet.CommandLine
nuget Hopac

github fsharp/FAKE modules/Octokit/Octokit.fsx